/*.sg-Header-logo{
	background:url('../images/logo-header--retina.png') no-repeat;
	height: 200px;
	width: 200px;
-moz-background-size:200px 50px;
-o-background-size:200px 50px;
background-size:200px 50px}
}
*/
.backgroundsize .sg-Header-logo {
	background:url('../images/logo-header--retina.png') no-repeat;
    -moz-background-size: 166px 73px;
    -o-background-size: 166px 73px;
    background-size: 166px 73px;
}
.content-wrapper {
	margin: 20px;
}
.typeofInsurance {
	padding-top: 20px; 
}
.sg-Form-question {
	padding-bottom: 20px;
}
.input-calendar-wrapper {
	z-index: 1;
}
 
.sg-Radio-text {
	font-size: 110%;
    font-weight: bold;
    padding: .95em;
    background-color: #ffffff;
    border-color: #92b605;

    min-width: 2.7em;
    padding: .7em;
    margin: 0 0 5px 0;
    font-size: 110%;
    line-height: 1.21;
    border: solid 1px #ccc;
    color: #535353;
    text-align: center;
    vertical-align: middle;
    background-color: #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.sg-Input {
    font-size: 17px;
    width: 300px;
}